.discover{
    margin: 0 auto;
    width: 75%;

    .loading {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        height: 100px; /* Adjust height as needed */
        margin: 20px 0;

        .loading-spinner {
            border: 3px solid #f3f3f3;
            border-top: 3px solid #3498db;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            animation: spin 600ms linear infinite;
        }
    }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}